p[class|="first"]
{
    color: red;
}

p[id~="pa"]
{
    color: brown;
}

p[class^="paragraph"]
{
    color:chartreuse
}

[class$="paragraph"]
{
    color: crimson;
}

[class*="pa"]
{
    color: darkgoldenrod;
}